:root {
  font-size: 16px;
}

body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 66vw;
}